@model ThuVien.Models.ApplicationUser
@{
    ViewBag.Title = "Xác nhận";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_responsive.css">

@if (ViewBag.CheckCart != null)
{
    using (Html.BeginForm("CheckOut", "Cart", FormMethod.Post, new { }))
    {
        @Html.AntiForgeryToken()
        <div class="container" style="margin-top: 160px">
            <div class="row">
                <div class="col-md-6">
                    @Html.Action("Partial_Cus_CheckOut", "Cart")
                </div>
                <div class="col-md-6">
                    <table class="table">
                        <tr class="text-center">
                            <th>STT</th>
                            <th>Ảnh</th>
                            <th>Tên sách</th>
                            <th style="width:100px;">Số lượng</th>
                        </tr>
                        @Html.Action("Partial_Item_CheckOut", "Cart")
                    </table>
                </div>
            </div>
            
        </div>
    }
}

<script>
        function OnFailure(rs) {
            if (!rs.Success) {
                $('#show_success').html("Đăng kí mượn sách thất bại! Xin vui lòng thử lại");
            }
        }
</script>