 
    
<!-- Footer -->

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Giới Thiệu</h4>
                <ul>
                    <li><a href="#">Lịch sử</a></li>
                    <li><a href="#">Tổng hợp thông tin</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Hỗ trợ</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Nội quy</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Liên hệ</h4>
                <ul>
                    <li><a href="#">Email</a></li>
                    <li><a href="#">Số điện thoại</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-skype"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
