@using Microsoft.AspNet.Identity;

<!-- Header -->

<header class="header trans_300">

    <!-- Top Navigation -->

    <div class="top_nav">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="top_nav_left">Hotline: 0123938445</div>

                </div>
                <div class="col-md-6 text-right">
                    <div class="top_nav_right">
                        <ul class="top_nav_menu">

                            <!--Language / My Account -->


                            <li class="language">
                                <a href="#">
                                    English
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="language_selection">
                                    <li><a href="#">French</a></li>
                                    <li><a href="#">Italian</a></li>
                                    <li><a href="#">German</a></li>
                                    <li><a href="#">Spanish</a></li>
                                </ul>
                            </li>
                            <li class="account">
                                @if (!Request.IsAuthenticated)
                                {
                                    <a href="#">
                                        My Account
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="account_selection">
                                        <li><a href="/account/login"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
                                        <li><a href="/account/Register"><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a></li>

                                    </ul>
                                }
                                else
                                {
                                    string userId = User.Identity.GetUserId();

                                    <a href="#">
                                        Welcome: @User.Identity.Name
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="account_selection">
                                        @if (User.IsInRole("Admin"))
                                        {
                                            <li><a href="/Admin/sach"><i class="fa fa-sign-in" aria-hidden="true"></i>Quản trị web</a></li>
                                        }
                                        <li><a href="/account/edit/@userId"><i class="fa fa-address-card" aria-hidden="true"></i>Thông tin</a></li>
                                        <li><a href="/account/listordercus"><i class="fa fa-list-alt" aria-hidden="true"></i>Lịch sử mượn</a></li>
                                        <li><a href="javascript:document.getElementById('logOffForm').submit()"><i class="fa fa-user-plus" aria-hidden="true"></i> Logout</a></li>
                                    </ul>
                                }

                            </li>
                        </ul>

                        @if (Request.IsAuthenticated)
                        {
                            <div style="display:none">
                                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { @id = "logOffForm" }))
                                {
                                    @Html.AntiForgeryToken()}
                            </div>}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Main Navigation -->

    <div class="main_nav_container">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-right">
                    <div class="logo_container">
                        <img src="~/Content/assets/images/book-stack.png" />
                        <a href="/">School<span>Lib</span></a>
                    </div>
                    <nav class="navbar">
                        <ul class="navbar_menu">
                            <li><a href="/home">Trang chủ</a></li>
                            <li><a href="/book">Tài liệu</a></li>
                            <li><a href="/contact">Liên hệ</a></li>
                            <li><a href="/news">Tin tức</a></li>
                            <li><a href="/contact/rule">Nội quy</a></li>
                        </ul>
                        <ul class="navbar_user">
                            <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                            @*<li><a href="#"><i class="fa fa-user" aria-hidden="true"></i></a></li>*@
                            <li class="checkout">
                                <a href="/cart">
                                    <i class="fa fa-book" aria-hidden="true"></i>
                                    <span id="checkout_items" class="checkout_items">0</span>
                                </a>
                            </li>
                        </ul>
                        <div class="hamburger_container">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>

</header>

<div class="fs_menu_overlay"></div>
<div class="hamburger_menu">
    <div class="hamburger_close"><i class="fa fa-times" aria-hidden="true"></i></div>
    <div class="hamburger_menu_content text-right">
        <ul class="menu_top_nav">
            <li class="menu_item has-children">
                <a href="#">
                    English
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="menu_selection">
                    <li><a href="#">French</a></li>
                    <li><a href="#">Italian</a></li>
                    <li><a href="#">German</a></li>
                    <li><a href="#">Spanish</a></li>
                </ul>
            </li>
            <li class="menu_item has-children">
                <a href="#">
                    My Account
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="menu_selection">
                    <li><a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
                    <li><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a></li>

                </ul>
            </li>
            <li class="menu_item"><a href="#">home</a></li>
            <li class="menu_item"><a href="#">shop</a></li>
            <li class="menu_item"><a href="#">promotion</a></li>
            <li class="menu_item"><a href="#">pages</a></li>
            <li class="menu_item"><a href="#">blog</a></li>
            <li class="menu_item"><a href="#">contact</a></li>
        </ul>
    </div>
</div>