
@{
    ViewBag.Title = "Liên hệ";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<section class="welcome_bakery_area cake_feature_main p_100">
    <div class="container">
        <div class="row">
            <img src="~/Content/assets/images/banner.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>
        </div>

        <div class="map_row">
            <div class="main_title">
                <h2>Địa chỉ</h2>
                <h5>Mời bạn đọc ghé thư viện!</h5>
            </div>
            <div class="iframe-wrapper">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.5179972932506!2d105.7384179145795!3d21.051963692362396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454f74b52e3c1%3A0x11b8b2603ab91adb!2zODUgTmfDtSAxMzIgxJDGsOG7nW5nIEPhuqd1IERp4buFbiwgTWluaCBLaGFpLCBU4burIExpw6ptLCBIw6AgTuG7mWksIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1616229691164!5m2!1svi!2s" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
</section>
