
@{
    ViewBag.Title = "Liên hệ";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">

<div class="rule">
    <div class="rule_text">
        <h4 class="header_title_rule">NỘI QUY THƯ VIỆN</h4>
        <p>1. Quý khách đến liên hệ công tác xuất trình giấy giới thiệu hoặc giấy tờ tùy thân khác.</p>

        <p>2. Bạn đọc xuất trình thẻ khi vào thư viện. Không cho mượn thẻ. Mất thẻ phải báo ngay với thủ thư.</p>

        <p>3. Bạn đọc chưa làm thẻ, có nhu cầu sử dụng tài liệu phải xuất trình giấy tờ cá nhân, được đọc tạm thời trong 03 ngày.</p>

        <p>4. Gửi xe đúng nơi quy định; để túi, cặp sách vào tủ gửi đồ.</p>

        <p>5. Giữ gìn trật tự, vệ sinh:</p>
        <p>&nbsp; &nbsp; - &nbsp; Đi nhẹ, nói khẽ.</p>

        <p>&nbsp; &nbsp; - &nbsp; Không nói chuyện riêng, không nói chuyện điện thoại trong phòng đọc sách. Để điện thoại ở chế độ im lặng.</p>

        <p>&nbsp; &nbsp; - &nbsp; &nbsp;Không ăn quà trong phòng đọc - mượn sách.</p>

        <p>&nbsp; &nbsp; - &nbsp; &nbsp;Không vứt rác và khạc nhổ bừa bãi.</p>


        <p>6. Bảo quản tài sản công:</p>

        <p>&nbsp; &nbsp; - &nbsp; &nbsp;Giữ gìn, bảo quản tài liệu của thư viện; không làm rách, vẽ, viết vào sách, báo.</p>

        <p>&nbsp; &nbsp; - &nbsp; &nbsp;Không tự động bật đèn, quạt và các thiết bị khác trong thư viện.</p>

        <p>&nbsp; &nbsp; - &nbsp; &nbsp;Không viết bậy, vẽ bậy lên bàn ghế, tường.</p>

        <p>&nbsp; &nbsp; - &nbsp; &nbsp;Không tự ý di chuyển bàn ghế, đồ đạc, vật dụng của thư viện.</p>

        <p>&nbsp; &nbsp; - &nbsp; &nbsp;Làm hỏng tài sản của thư viện, bạn đọc phải đền theo giá trị hiện hành.</p>

        <p>7. Chấp hành những quy định cụ thể tại các phòng, nơi bạn đọc được phục vụ.</p>

        <p>8. Phục vụ các ngày trong tuần. Nghỉ ngày Lễ, Chủ nhật, thứ Hai.</p>

        <p>&nbsp; &nbsp; Giờ mở cửa phục vụ: 08h00’- 17h00’.</p>
    </div>
</div>
