USE [master]
GO
/****** Object:  Database [ThuVien]    Script Date: 6/29/2023 3:46:20 PM ******/
CREATE DATABASE [ThuVien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ThuVien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ThuVien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ThuVien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ThuVien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ThuVien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ThuVien]
GO
/****** Object:  User [khang]    Script Date: 6/29/2023 3:46:20 PM ******/
CREATE USER [khang] FOR LOGIN [khang] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 6/29/2023 3:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 6/29/2023 3:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 6/29/2023 3:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 6/29/2023 3:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 6/29/2023 3:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 6/29/2023 3:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[FullName] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[masv] [nvarchar](max) NULL,
	[gioitinh] [nvarchar](max) NULL,
	[diachi] [nvarchar](max) NULL,
	[matsach] [int] NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chitietmuon]    Script Date: 6/29/2023 3:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chitietmuon](
	[maphieumuon] [int] NOT NULL,
	[masach] [int] NOT NULL,
	[soluong] [int] NOT NULL,
 CONSTRAINT [PK_dbo.chitietmuon] PRIMARY KEY CLUSTERED 
(
	[maphieumuon] ASC,
	[masach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhaxuatban]    Script Date: 6/29/2023 3:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhaxuatban](
	[manxb] [int] IDENTITY(1,1) NOT NULL,
	[tennxb] [nvarchar](100) NULL,
	[diachinxb] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.nhaxuatban] PRIMARY KEY CLUSTERED 
(
	[manxb] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phieumuon]    Script Date: 6/29/2023 3:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phieumuon](
	[maphieumuon] [int] IDENTITY(1,1) NOT NULL,
	[ngaymuon] [datetime] NOT NULL,
	[tongtienphat] [money] NULL,
	[soluongchitietmuon] [int] NULL,
	[userID] [nvarchar](128) NULL,
	[trangthaiduyet] [bit] NOT NULL,
	[trangthaitra] [bit] NOT NULL,
	[tuchoi] [bit] NOT NULL,
	[sosachmat] [int] NULL,
	[UserName] [nvarchar](max) NULL,
	[ghichu] [nvarchar](2000) NULL,
	[ngayhethan] [datetime] NULL,
	[ngaytra] [datetime] NULL,
 CONSTRAINT [PK_dbo.phieumuon] PRIMARY KEY CLUSTERED 
(
	[maphieumuon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sach]    Script Date: 6/29/2023 3:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sach](
	[masach] [int] IDENTITY(1,1) NOT NULL,
	[tensach] [nvarchar](200) NOT NULL,
	[anh] [nvarchar](max) NULL,
	[namxb] [nvarchar](50) NULL,
	[manxb] [int] NOT NULL,
	[sotrang] [int] NOT NULL,
	[soluong] [int] NOT NULL,
	[mieuta] [nvarchar](max) NULL,
	[TrangThai] [bit] NOT NULL,
	[giabia] [money] NOT NULL,
 CONSTRAINT [PK_dbo.sach] PRIMARY KEY CLUSTERED 
(
	[masach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tacgia]    Script Date: 6/29/2023 3:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tacgia](
	[matacgia] [int] IDENTITY(1,1) NOT NULL,
	[tentacgia] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_dbo.tacgia] PRIMARY KEY CLUSTERED 
(
	[matacgia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tacgiasaches]    Script Date: 6/29/2023 3:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tacgiasaches](
	[tacgia_matacgia] [int] NOT NULL,
	[sach_masach] [int] NOT NULL,
 CONSTRAINT [PK_dbo.tacgiasaches] PRIMARY KEY CLUSTERED 
(
	[tacgia_matacgia] ASC,
	[sach_masach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[theloai]    Script Date: 6/29/2023 3:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[theloai](
	[matheloai] [int] IDENTITY(1,1) NOT NULL,
	[tentheloai] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_dbo.theloai] PRIMARY KEY CLUSTERED 
(
	[matheloai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[theloaisaches]    Script Date: 6/29/2023 3:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[theloaisaches](
	[theloai_matheloai] [int] NOT NULL,
	[sach_masach] [int] NOT NULL,
 CONSTRAINT [PK_dbo.theloaisaches] PRIMARY KEY CLUSTERED 
(
	[theloai_matheloai] ASC,
	[sach_masach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinTuc]    Script Date: 6/29/2023 3:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinTuc](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Alias] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Detail] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.TinTuc] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'f7700a99-19fa-432b-854e-859fcc6bef96', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'0f98a1f0-80f8-4853-8400-cf428d56f317', N'Customer')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'45374ec6-6b81-4102-90be-3efaf9f7a504', N'0f98a1f0-80f8-4853-8400-cf428d56f317')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'49f59a2c-1f98-4fa6-add5-cd1c98fe301a', N'0f98a1f0-80f8-4853-8400-cf428d56f317')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'93b88628-124a-41d6-90f6-e3a772087c87', N'0f98a1f0-80f8-4853-8400-cf428d56f317')
GO
INSERT [dbo].[AspNetUsers] ([Id], [FullName], [Phone], [masv], [gioitinh], [diachi], [matsach], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'2b89fa3e-3260-4053-bcb4-6864f6e89d11', N'Nguyễn Duy Kháng', N'admin@gmail.com', NULL, NULL, NULL, 0, N'admin@gmail.com', 0, N'AB3a4VOmVa4bAjcIfQ0l/egruXNWOifadzpoECWvRWNbMBHzjVDyRbj9WafOiaTXUA==', N'13455a62-809e-4fd8-89d6-5315eb0ee164', NULL, 0, 0, NULL, 1, 0, N'admin@gmail.com')
INSERT [dbo].[AspNetUsers] ([Id], [FullName], [Phone], [masv], [gioitinh], [diachi], [matsach], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'45374ec6-6b81-4102-90be-3efaf9f7a504', N'Nguyễn Duy Kháng', N'0167 403 7659', N'123334', N'Nam', N'hcm', 0, N'minh1@gmail.com', 0, N'ALSImn2Fl5+MY/mdTPCAirSKOv4UEhT7AEj2TTMahZaWF/5MEa+QbdfxuhdwKtvHLA==', N'29a95897-f6e4-48e4-9de4-4cb10224113f', NULL, 0, 0, NULL, 1, 0, N'minh1@gmail.com')
INSERT [dbo].[AspNetUsers] ([Id], [FullName], [Phone], [masv], [gioitinh], [diachi], [matsach], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'49f59a2c-1f98-4fa6-add5-cd1c98fe301a', N'Nguyễn Duy Kháng', N'0167 403 7659', N'1122', N'Nam', N'hcm', 0, N'b@gmail.com', 0, N'AGRmmYA8FRfkLvetmsg3i1KOS8HMqsfzw3hGrS1K0cuiVZKJqWAXQRqL9HPCzNQDcw==', N'c0704ac1-6a0e-4b78-9efe-7747ef7ddf0a', NULL, 0, 0, NULL, 1, 0, N'minh@gmail.com')
GO
INSERT [dbo].[chitietmuon] ([maphieumuon], [masach], [soluong]) VALUES (10, 1, 1)
INSERT [dbo].[chitietmuon] ([maphieumuon], [masach], [soluong]) VALUES (12, 2, 1)
INSERT [dbo].[chitietmuon] ([maphieumuon], [masach], [soluong]) VALUES (13, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[nhaxuatban] ON 

INSERT [dbo].[nhaxuatban] ([manxb], [tennxb], [diachinxb]) VALUES (1, N'NXB Hồng Đức', N'HCM')
INSERT [dbo].[nhaxuatban] ([manxb], [tennxb], [diachinxb]) VALUES (2, N'NXB Công Thương', N'HCM')
INSERT [dbo].[nhaxuatban] ([manxb], [tennxb], [diachinxb]) VALUES (3, N'NXB Lao Động', N'HCM')
SET IDENTITY_INSERT [dbo].[nhaxuatban] OFF
GO
SET IDENTITY_INSERT [dbo].[phieumuon] ON 

INSERT [dbo].[phieumuon] ([maphieumuon], [ngaymuon], [tongtienphat], [soluongchitietmuon], [userID], [trangthaiduyet], [trangthaitra], [tuchoi], [sosachmat], [UserName], [ghichu], [ngayhethan], [ngaytra]) VALUES (7, CAST(N'2023-06-28T17:04:55.000' AS DateTime), 0.0000, 3, N'93b88628-124a-41d6-90f6-e3a772087c87', 1, 1, 0, 0, N'linhanh@gmail.com', NULL, CAST(N'2023-06-30T17:04:00.000' AS DateTime), CAST(N'2023-06-29T08:19:07.000' AS DateTime))
INSERT [dbo].[phieumuon] ([maphieumuon], [ngaymuon], [tongtienphat], [soluongchitietmuon], [userID], [trangthaiduyet], [trangthaitra], [tuchoi], [sosachmat], [UserName], [ghichu], [ngayhethan], [ngaytra]) VALUES (10, CAST(N'2023-06-28T17:08:47.000' AS DateTime), 0.0000, 1, N'93b88628-124a-41d6-90f6-e3a772087c87', 1, 1, 0, 0, N'linhanh@gmail.com', NULL, NULL, CAST(N'2023-06-29T08:15:38.000' AS DateTime))
INSERT [dbo].[phieumuon] ([maphieumuon], [ngaymuon], [tongtienphat], [soluongchitietmuon], [userID], [trangthaiduyet], [trangthaitra], [tuchoi], [sosachmat], [UserName], [ghichu], [ngayhethan], [ngaytra]) VALUES (12, CAST(N'2023-06-27T18:09:22.527' AS DateTime), 0.0000, 1, N'93b88628-124a-41d6-90f6-e3a772087c87', 0, 0, 1, 0, N'linhanh@gmail.com', N'Bạn đã hủy phiếu này', CAST(N'1900-01-01T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[phieumuon] OFF
GO
SET IDENTITY_INSERT [dbo].[sach] ON 

SET IDENTITY_INSERT [dbo].[sach] OFF
GO
SET IDENTITY_INSERT [dbo].[tacgia] ON 

INSERT [dbo].[tacgia] ([matacgia], [tentacgia]) VALUES (1, N'Trịnh Minh Thảo')
INSERT [dbo].[tacgia] ([matacgia], [tentacgia]) VALUES (2, N'Phan Văn Phương')
INSERT [dbo].[tacgia] ([matacgia], [tentacgia]) VALUES (3, N'Markus Rach')
SET IDENTITY_INSERT [dbo].[tacgia] OFF
GO
INSERT [dbo].[tacgiasaches] ([tacgia_matacgia], [sach_masach]) VALUES (1, 1)
INSERT [dbo].[tacgiasaches] ([tacgia_matacgia], [sach_masach]) VALUES (3, 1)
INSERT [dbo].[tacgiasaches] ([tacgia_matacgia], [sach_masach]) VALUES (2, 2)
GO
SET IDENTITY_INSERT [dbo].[theloai] ON 

INSERT [dbo].[theloai] ([matheloai], [tentheloai]) VALUES (1, N'Kinh tế')
INSERT [dbo].[theloai] ([matheloai], [tentheloai]) VALUES (2, N'Sách Giáo Khoa')
INSERT [dbo].[theloai] ([matheloai], [tentheloai]) VALUES (3, N'Tài liệu tham khảo')
SET IDENTITY_INSERT [dbo].[theloai] OFF
GO
INSERT [dbo].[theloaisaches] ([theloai_matheloai], [sach_masach]) VALUES (7, 1)
INSERT [dbo].[theloaisaches] ([theloai_matheloai], [sach_masach]) VALUES (3, 2)
INSERT [dbo].[theloaisaches] ([theloai_matheloai], [sach_masach]) VALUES (4, 3)
GO
SET IDENTITY_INSERT [dbo].[TinTuc] ON 

SET IDENTITY_INSERT [dbo].[TinTuc] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 6/29/2023 3:46:21 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 6/29/2023 3:46:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 6/29/2023 3:46:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 6/29/2023 3:46:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 6/29/2023 3:46:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 6/29/2023 3:46:21 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_maphieumuon]    Script Date: 6/29/2023 3:46:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_maphieumuon] ON [dbo].[chitietmuon]
(
	[maphieumuon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_masach]    Script Date: 6/29/2023 3:46:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_masach] ON [dbo].[chitietmuon]
(
	[masach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_userID]    Script Date: 6/29/2023 3:46:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_userID] ON [dbo].[phieumuon]
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_manxb]    Script Date: 6/29/2023 3:46:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_manxb] ON [dbo].[sach]
(
	[manxb] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_sach_masach]    Script Date: 6/29/2023 3:46:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_sach_masach] ON [dbo].[tacgiasaches]
(
	[sach_masach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tacgia_matacgia]    Script Date: 6/29/2023 3:46:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_tacgia_matacgia] ON [dbo].[tacgiasaches]
(
	[tacgia_matacgia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_sach_masach]    Script Date: 6/29/2023 3:46:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_sach_masach] ON [dbo].[theloaisaches]
(
	[sach_masach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_theloai_matheloai]    Script Date: 6/29/2023 3:46:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_theloai_matheloai] ON [dbo].[theloaisaches]
(
	[theloai_matheloai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[chitietmuon]  WITH CHECK ADD  CONSTRAINT [FK_dbo.chitietmuon_dbo.phieumuon_maphieumuon] FOREIGN KEY([maphieumuon])
REFERENCES [dbo].[phieumuon] ([maphieumuon])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[chitietmuon] CHECK CONSTRAINT [FK_dbo.chitietmuon_dbo.phieumuon_maphieumuon]
GO
ALTER TABLE [dbo].[chitietmuon]  WITH CHECK ADD  CONSTRAINT [FK_dbo.chitietmuon_dbo.sach_masach] FOREIGN KEY([masach])
REFERENCES [dbo].[sach] ([masach])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[chitietmuon] CHECK CONSTRAINT [FK_dbo.chitietmuon_dbo.sach_masach]
GO
ALTER TABLE [dbo].[phieumuon]  WITH CHECK ADD  CONSTRAINT [FK_dbo.phieumuon_dbo.AspNetUsers_userID] FOREIGN KEY([userID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[phieumuon] CHECK CONSTRAINT [FK_dbo.phieumuon_dbo.AspNetUsers_userID]
GO
ALTER TABLE [dbo].[sach]  WITH CHECK ADD  CONSTRAINT [FK_dbo.sach_dbo.nhaxuatban_manxb] FOREIGN KEY([manxb])
REFERENCES [dbo].[nhaxuatban] ([manxb])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[sach] CHECK CONSTRAINT [FK_dbo.sach_dbo.nhaxuatban_manxb]
GO
ALTER TABLE [dbo].[tacgiasaches]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tacgiasaches_dbo.sach_sach_masach] FOREIGN KEY([sach_masach])
REFERENCES [dbo].[sach] ([masach])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tacgiasaches] CHECK CONSTRAINT [FK_dbo.tacgiasaches_dbo.sach_sach_masach]
GO
ALTER TABLE [dbo].[tacgiasaches]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tacgiasaches_dbo.tacgia_tacgia_matacgia] FOREIGN KEY([tacgia_matacgia])
REFERENCES [dbo].[tacgia] ([matacgia])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tacgiasaches] CHECK CONSTRAINT [FK_dbo.tacgiasaches_dbo.tacgia_tacgia_matacgia]
GO
ALTER TABLE [dbo].[theloaisaches]  WITH CHECK ADD  CONSTRAINT [FK_dbo.theloaisaches_dbo.sach_sach_masach] FOREIGN KEY([sach_masach])
REFERENCES [dbo].[sach] ([masach])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[theloaisaches] CHECK CONSTRAINT [FK_dbo.theloaisaches_dbo.sach_sach_masach]
GO
ALTER TABLE [dbo].[theloaisaches]  WITH CHECK ADD  CONSTRAINT [FK_dbo.theloaisaches_dbo.theloai_theloai_matheloai] FOREIGN KEY([theloai_matheloai])
REFERENCES [dbo].[theloai] ([matheloai])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[theloaisaches] CHECK CONSTRAINT [FK_dbo.theloaisaches_dbo.theloai_theloai_matheloai]
GO
USE [master]
GO
