@{
    ViewBag.Title = "Thư viện";
}

<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<!-- Slider -->
<style>
    .news_section_container {
        margin-top: 180px;
    }

    .row-item-new {
        margin-bottom: 20px;
    }

    .title-news {
        font-size: 24px;
        border-bottom: 1px solid;
        padding: 15px 0;
        margin-bottom: 25px;
    }

    .img-box img {
        max-width: 100%;
        max-height: 100%;
    }
</style>
<div class="container news_section_container">
    <div class="row row-item-new">
        <div class="col-md-3">
            <div class="img-box">
                <img src="~/Content/assets/images/lib.jpg" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="content-box">
                <h3>Sản phẩm</h3>
                <div class="description-box">
                    <p>Sách có thể ít đi một chút, nhưng phải tốt đẹp hơn. Không nên đặt một cuốn sách tầm thường lên giá sách.</p>

                </div>
            </div>
        </div>
    </div>
    <div class="row row-item-new">
        <div class="col-md-3">
            <div class="img-box">
                <img src="~/Content/assets/images/reader.jpg" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="content-box">
                <h3>Thân thiện</h3>
                <div class="description-box">
                    <p>Thư viện trường học là hữu ích cho tất cả mọi người cho dù học sinh, giáo viên hoặc bất kỳ nhân viên khác.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-item-new">
        <div class="col-md-3">
            <div class="img-box">
                <img src="~/Content/assets/images/knowledge.jpg" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="content-box">
                <h3>Nhiều thông tin</h3>
                <div class="description-box">
                    <p>Nguồn tài liệu phong phú,lối kiến trúc độc đáo gợi cho người đọc cảm giác đi vào núi sách.</p>
                </div>
            </div>
        </div>
    </div>
</div>
